<div class="users">
  <div class="row text-white bg-dark border border-white" style="margin: 0px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <!-- <div class="font-weight-bold d-flex justify-content-center">Outreach Users</div> -->
      <h2 class="font-weight-bold d-flex justify-content-center"  >Outreach Users</h2>
    </div>
    <div class="col-md-3">
      <!-- <button type="button" class="btn btn-success float-right align-middle" id="addUserButton" data-toggle="modal" data-target="#addUserModal" >Add User</button> -->
      <div class="text-center">
          <a href="" class="btn btn-success float-right align-middle" data-toggle="modal" data-target="#myModal">Launch
            Add User</a>
        </div>
    </div>
   </div>
  <table class="table table-dark border border-white">
    <thead>
      <tr>
        <th scope="col">Associate ID</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.associateId}}</th>
        <td>{{user.name}}</td>
        <td>{{user.contactNumber}}</td>
        <td>{{user.role}}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="formEmail">Email</label>
                    <input type="email" class="form-control" id="formEmail" name="formEmail" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formAssociateId">Associate ID</label>
                    <input type="text" class="form-control" id="formAssociateId"   name="formAssociateId" placeholder="Associate ID">
                  </div>
                </div>
                <div class="form-group">
                    <label for="formName">Name</label>
                    <input type="text" class="form-control" id="formName"  name="formName" placeholder="Name">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="formContectNumber">Contact Number</label>
                    <input type="text" class="form-control" id="formContectNumber" placeholder="Contact Number">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formdesignation">Designation</label>
                    <input type="text" class="form-control" id="formdesignation" placeholder="Designation">
                  </div>
                </div>  
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="formLocation">Location</label>
                    <input type="text" class="form-control" id="formLocation">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputState">Role</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div> -->
                <button (click)="loginUser($event)" type="submit" class="btn btn-primary" data-dismiss="modal">Create</button>
              </form>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>