<div style="padding-top: 5px;">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item border border-primary rounded">         
            <a class="nav-link" href="#">manage List</a>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </li>
        <li class="nav-item border">
          <a class="nav-link" href="#">Item 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Item 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Item 4</a>
        </li>
      </ul> 
</div>