<div class="dashboard" style="font-size: 12px;">
  <div class="row text-white bg-dark border border-white" style="margin: 0px;">
    <div class="col-md-3"></div>
    <div class="col-md-1" style="padding: 2px; font-size: 11px;">
      <input class="rounded-sm primary-filter" bsDatepicker [(bsValue)]="fromDate"  value="{{ fromDate | date:'dd-MMM-yyyy' }}" id="fromDate" type="text" placeholder="From Date">
    </div>
    <div class="col-md-1 rounded-sm" style="padding: 2px;">
      <input class="rounded-sm primary-filter" bsDatepicker id="toDate" type="text" placeholder="To Date">
    </div>
    <div class="col-md-2" style="padding: 2px;">
      <select class="form-control form-control-sm primary-filter" id="businessUnit">
        <option>Business Unit All</option>
      </select>
    </div>
    <div class="col-md-2" style="padding: 2px;">
      <select class="form-control form-control-sm primary-filter" id="baseLocation">
        <option>Base Location All</option>
      </select>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row text-white bg-dark border border-white" style="margin: 0px;">
    <div class="col-md-2 x-axis" style="border-right: 1px solid white">
      <div style="border-bottom: 1px solid white">
        <span>x-axis</span>
      </div>
      <div>
        <div *ngFor="let xFilter of xFilters">
          <input type="radio" name="xFilter" value="{{xFilter}}" value="{{xFilter}}">
          <label for="{{xFilter}}">{{xFilter}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-8 x-axis" style="border-right: 1px solid white;">
      <div style="border-bottom: 1px solid white;">
        <span>y-axis</span>
      </div>
      <div>
        <div *ngFor="let yFilter of yFilters" class="float-left" style="margin-right: 10px;">
          <input type="checkbox" name="yFilter" value="{{yFilter}}" value="{{yFilter}}">
          <label for="{{yFilter}}">{{yFilter}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-3 y-axis">
    </div>
  </div>

  <div class="row bg-light">

  </div>
</div>