<div class="dashboard">
  <div class="row text-white bg-dark border border-white" style="margin: 0px;">
    <div class="col-md-2">
      <div>
        <label for="fromDate" style="margin: 0px; width: 100%">From Date </label>
      </div>
      <div>
        <input bsDatepicker id="fromDate" type="text" style="width: 100px">
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <label for="fromDate" style="margin: 0px">To Date </label>
      </div>
      <div>
        <input bsDatepicker id="fromDate" type="text" style="width: 100px">
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <label for="businessUnit" style="margin: 0px; width: 100%">Business Unit</label>
      </div>
      <div>
        <select class="form-control form-control-sm" id="businessUnit" style="padding: 0px; border: 0px;">
          <option>All</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <label for="baseLocation" style="margin: 0px; width: 100%">Base Location</label>
      </div>
      <div>
        <select class="form-control form-control-sm" id="baseLocation" style="padding: 0px; border: 0px;">
          <option>All</option>
        </select>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>